<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author", content="Braeden Diaz" />
        <meta name="description", content="A website for posting blog posts and/or forum discussions of specific topics." />
        <meta name="keywords", content="forums, blog, posts" />
        <meta name="viewport", content="width=device-width, initial-scale=1.0" />

        <title>A Web of Forums</title>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
</html>