<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author", content="Braeden Diaz" />
        <meta name="description", content="A website for posting blog posts and/or forum discussions of specific topics." />
        <meta name="keywords", content="forums, blog, posts" />
        <meta name="viewport", content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/public/css/main.css" />

        <title>A Web of Forums</title>
    </head>
    <body>
        <div id="site-header">
            <h1>Web of Forums</h1>
        </div>
        <div id="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">Forums</a>
            <a href="#">News</a>
            <a href="#">About</a>
            <a href="/register" class="right">Register</a>
            <a href="/login" class="right">Login</a>
        </div>
        <div id="main-content">
            <div class="row">
                <div class="col-lg-6" style="background-color: blue; color: white;">
                    This is some text.
                </div>
                <div class="col-lg-6" style="background-color: black; color: white;">
                    This is some text.
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="background-color: blue; color: white;">
                    This is some text.
                </div>
                <div class="col-md-4" style="background-color: black; color: white;">
                    This is some text.
                </div>
                <div class="col-md-4" style="background-color: blue; color: white;">
                    This is some text.
                </div>
            </div>
        </div>
        <div id="footer">
            <p>This is the footer.</p>
        </div>
    </body>
</html>