<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Braeden Diaz" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/public/css/main.css" />

        <title>Login</title>
    </head>
    <body>
        <div id="main-content">
            <div class="row">
                <div class="col-12">
                    <form action="/login" method="POST">
                        <label for="username">Username</label><br />
                        <input type="text" name="username" /><br />
                        <label for="password">Password</label><br />
                        <input type="password" name="password" /><br />
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>